[submodule "src/ThirdParty/ecl/ecl_core"]
	path = src/ThirdParty/ecl/ecl_core
	url = https://github.com/Juancams/ecl_core.git
[submodule "src/ThirdParty/ecl/ecl_lite"]
	path = src/ThirdParty/ecl/ecl_lite
	url = https://github.com/Juancams/ecl_lite.git
[submodule "src/ThirdParty/kobuki_core"]
	path = src/ThirdParty/kobuki_core
	url = https://github.com/kobuki-base/kobuki_core.git
[submodule "src/ThirdParty/kobuki_ros"]
	path = src/ThirdParty/kobuki_ros
	url = https://github.com/Juancams/kobuki_ros.git
[submodule "src/ThirdParty/openni2_camera"]
	path = src/ThirdParty/openni2_camera
	url = https://github.com/ros-drivers/openni2_camera.git
[submodule "src/ThirdParty/ros_astra_camera"]
	path = src/ThirdParty/ros_astra_camera
	url = https://github.com/Juancams/ros_astra_camera.git
[submodule "src/ThirdParty/rplidar_ros"]
	path = src/ThirdParty/rplidar_ros
	url = https://github.com/Juancams/rplidar_ros.git
